{% extends 'base.html' %}

{% block content %}
  <h1>Contratos Públicos 2024</h1>

  <!-- Barra de navegação com botões -->
  <nav>
    <button><a href="/">Contratos</a></button>
    <button><a href="/entidades">Entidades</a></button>
    <button><a href="/tipos-de-procedimento">Tipo de Procedimento</a></button>
    <button><a href="/datas">Datas</a></button>
    <button><a href="/locais">Locais</a></button>
    <button><a href="/questoes">Questões</a></button>
    <button><a href="/Read Me">Read Me</a></button>
  </nav>

  <h2>Entidades</h2>

  <!-- Botões para Adjudicantes e Adjudicatários -->
  <nav>
    <button><a href="/adjudicantes">Adjudicantes</a></button>
    <button><a href="/adjudicatarios">Adjudicatários</a></button>
  </nav>

{% endblock %}

